<section class="news">

  <div>

    {{#if heading}}

      <h2>{{heading}}</h2>

    {{/if}}

    {{#if subscribe}}

      {{> news/subscribe text="Subscribe to news"}}

    {{/if}}

    <ul>
      {{#each items}}

        <li class="col-xs-12 col-sm-6 col-md-6">
          <a href="{{this.link}}" title="{{this.title}}">
            <figure>
              <img src="{{this.image}}" alt="{{truncate this.title 0 45}}" title="{{this.title}}"/>
              <figcaption>
                <span class="date">{{this.date}}</span>
                <span class="caption">{{this.title}}</span>
              </figcaption>
            </figure>
          </a>
        </li>

      {{/each}}
    </ul>

    {{#if viewmore}}

    <a class="button view-more" href="news.html">View more news</a>

    {{/if}}

  </div>

</section>
