<div class="social">

  {{#each this}}
       <a href="{{this.link}}" target="_blank">
         <span class="{{this.icon}}"></span><span class="sr-only">{{this.text}}</span>
         {{#if this.show_text}}{{this.text}}{{/if}}
       </a>
  {{/each }}

</div>
