<section id="statistics" class="statistics">

    {{#if this.heading }}
      <h2>{{this.heading}}</h2>
    {{/if}}

    <ul class="row">

      {{#each this.items}}

        {{#iff this.type '==' 'banner'}}
          <li class="col-xs-12 col-sm-12 col-md-12 banner">

            <figure>
              <img src="{{this.image}}" title="{{this.title}}" alt="{{truncate this.title 0 45}}"/>
              <figcaption>
                <h3>{{this.title}}</h3>
                <p>{{this.desc}}</p>
                <a href="{{this.button.link}}" title="{{this.button.text}}" class="button slide">
                  {{this.button.text}}
                </a>
              </figcaption>
            </figure>

          </li>

        {{else}}

          {{#iff this.type '==' 'simple'}}
            <li{{#if id}} id="{{id}}"{{/if}} class="col-xs-12 col-sm-12 col-md-12 simple">
              <h2>{{this.title}}</h2>
          {{/iff}}

          {{#iff this.type '==' 'large'}}
            <li class="col-xs-12 col-sm-6 col-md-8 large">
          {{/iff}}

          {{#iff this.type '==' 'medium'}}
            <li class="col-xs-12 col-sm-6 col-md-6 medium">
          {{/iff}}

          {{#iff this.type '==' 'small'}}
            <li class="col-xs-12 col-sm-6 col-md-4 small">
          {{/iff}}

          {{#if this.link}}
            <a href="{{this.link}}" title="{{this.title}}">
          {{/if}}


              <figure>
                <img src="{{this.image}}" alt="{{truncate this.title 0 35}} - Image" title="{{this.title}}"
                {{#if this.caption}}class="has-caption"{{/if}}/>

                {{#if this.caption}}
                  <figcaption>
                    <span class="caption">{{this.caption}}</span>
                    <i class="ion-chevron-right"></i>
                  </figcaption>
                {{/if}}

              </figure>

           {{#if this.link}}
             </a>
           {{/if}}


          </li>

        {{/iff}}

      {{/each}}

    </ul>

    <a class="button view-more" href="statistics.html">View more statistics</a>

</section>
