#mobilemenu-header {

  height: 60px;
  padding: 15px 0;
  @include box-shadow(0px,2px,2px,rgba(0,0,0,0.25));
  background: white;
  display: none;

  @include tablet {
    display: block;
  }

  a.menu {
    @include font-size-mobile(36px);
    display: inline-block;
    color: #333333;
    margin-top: -14px;

    @include mobile {
      margin-top: -8px;
    }
  }

  .search-form {

    float: right;

    input {
      display: inline-block;
      float: left;
      height: 30px;
      width: 170px;
      box-shadow: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: solid 1px #e1e1e1;
    }

    button {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0px;
      background-color: #009ed7;
      line-height: 30px;
      text-align: center;
      @include font-size(20px);
      border-radius: 0px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: white;
    }
  }
}

#mobilemenu {

  z-index: 999;
  position: relative;
  background-color: white;
  @include box-shadow(0px,1px,2px,rgba(0,0,0,0.25));
  top: -2px;

  @include desktop-small {
    display: none;
  }

  ul {

    margin-bottom: 0px;

    li {
      &.active {
        //color: #009ed7;
      }
    }

    > li {
      min-height: 50px;
      border-left: solid 3px #009ed7;
      border-bottom: solid 1px #bdbdbd;

      &:after {
        display: none;
      }

      a {
        font-family: 'Montserrat';
        @include font-size-mobile(15px);
        padding: 15px 55px 15px 22px;
        display: block;
        white-space: normal;

        &.mm-next {
          width: 100%;
          position: absolute;
        }

        i {
          @include font-size-tablet(25px);
          position: absolute;
          right: 0px;
          padding: 15px 30px;
          top: 0px;
          bottom: 0px;

          @include mobile {
            @include font-size-mobile(20px);
          }
        }
      }

      .submenu {
        display: none;
      }
    }
  }

}

.mm-panels {
  position: relative;

  .mm-panel {

    &.mm-current {
      position: relative;
    }

    &::after {
      display: none;
    }



    &.mm-hasnavbar {
      padding-top: 100px;
    }

    .mm-navbar {
      height: 100px;
      padding: 0px;

      .mm-btn {
        position: relative;
        width: 100%;
        background: #ededed;
        color: #05aadc;
        height: 50px;
        padding: 0 25px 0 40px;
        @include font-size-mobile(15px);
        text-align: left;
        line-height: 50px;

        &:before {
          border-color: #05aadc;
          width: 10px;
          height: 10px;
        }

        &:after {
          content: 'Back';
        }
      }

      .mm-title {
        background: #009ed9;
        color: white;
        @include font-size-mobile(15px);
        text-transform: uppercase;
        text-align: left;
        padding: 0 25px;
        height: 50px;
        vertical-align: middle;
        line-height: 50px;
      }
    }

    a.mm-next {
      &:before,
      &:after {
        display: none;
      }
    }
  }

  #mm-0  {

    &.mm-hasnavbar {
      padding-top: 0px;
    }

    .mm-navbar {
      display: none;
    }
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 6;

  @include desktop-small {
    display: none;
  }
}
