nav {

  @include box-shadow(0px,2px,2px,rgba(0,0,0,0.25));
  overflow-x: hidden;

  @include tablet {
    display: none;
  };

  .container {
    position: static;
  }

  ul.nav {
    height: 77px;
    width: 1000%;
    overflow-x: hidden;
    margin-bottom: 0px;

    > li {
      padding: 0;
      height: 77px;
      white-space: nowrap;
      float: left;
      margin: 0 2em 0 0;
      position: static;

      @include desktop-medium {
        margin-right: 4em;
      }


      > a {

        &:hover,
        &:focus {
          background: none;
        }

        i {
          display: none;
        }
      }

      &:hover,
      &:focus,
      &.active {

        > a {
          &:after {
            content: ' ';
            background-color: #d11f41;
            width: 100%;
            height: 3px;
            bottom: 0;
            position: absolute;
            display: block;
          }
        }
      }

      &:hover {
        .submenu {
          display: block;
        }
      }


      > a {
        font-family: 'Montserrat', Arial, sans-serif;
        display: inline-block;
        color: black;
        padding: 0;
        position: relative;
        line-height: 77px;
        text-decoration: none;
        @include font-size(18px);

        @include desktop-large {
          @include font-size(20px);
        }
      }


      .submenu {
        display: none;
        background-color: white;
        @include box-shadow(0px,0px,4px,rgba(0,0,0,0.5));
        width: 100%;
        height: auto;
        position: absolute;
        left: 0px;
        padding: 45px 0 10px;
        z-index: 20;

        .row {
          margin-right: -22.5px;
          margin-left: -22.5px;
        }

        .col {
          padding-left: 22.5px;
          padding-right: 22.5px;
        }

        .group {
          margin-bottom: 40px;

          > a {
            @include font-size(18px);
            font-weight: bold;
            border-bottom: solid 3px #009ed7;
            padding-bottom: 10px;
            white-space: normal;
            display: block;
          }
        }

        ul {
          margin: 20px 0 0;
          padding-right: 10px;
        }


        li.item {
          @include font-size(16px);
          line-height: 2em;

          a {
            white-space: normal;

            &.active,
            &:hover {
              text-decoration: underline;
              color: #009ed7;
            }

            i {

            }
          }

          span {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
