{{#with article}}

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-3">

      </div>

      <div class="col-xs-12 col-sm-12 col-md-6">

        {{> page/breadcrumb this}}

      </div>

    </div>

    <div class="row">

      <div class="menu col-xs-12 col-sm-12 col-md-3">

        {{> article/menu menu }}

      </div>

      <div class="col-xs-12 col-sm-12 col-md-9">

        <div class="article-heading">

          {{> page/heading this}}å

        </div>

        <div class="row">

          <main class="main col-xs-12 col-sm-12 col-md-8">

            {{> article/media media }}

            {{> article/content }}

          </main>

          <aside class="col-xs-12 col-sm-12 col-md-4">

            {{> aside/relatedlinks relatedlinks}}

            {{> aside/documents documents}}

            {{> aside/linkpanel linkpanel}}

          </aside>

        </div>


      </div>

    </div>

  </div>



{{/with}}
