{{#with downloads}}

  <main class="container">

    {{> page/breadcrumb this}}

    {{> page/heading this}}

    <div class="filter-wrapper">

      {{> downloads/filter filter}}

      {{> filter/header }}

      {{> downloads/list downloads}}

      {{> filter/footer limit=6}}

    </div>

  </main>


{{/with}}
