{{#with index}}

  {{> shared/carousel carousel}}

  <main>

    <div class="gray-bg">

      <div class="container">

        {{> home/featured featured}}

      </div>

    </div>

    <div class="container">

      {{> home/news news}}

    </div>


  </main>

{{/with}}
