{{#with news-article}}

  <div class="container">

    <div class="row">

      <div class="heading col-sm-12 col-md-9">

        {{> page/breadcrumb this}}

        {{> page/heading this}}

        {{> article/date this}}

      </div>

    </div>

    <div class="row">

      <main class="main col-sm-12 col-md-9">

        {{> article/media media }}

        {{> article/content }}


      </main>

      <aside class="col-sm-12 col-md-3">

        {{> aside/relatedlinks relatedlinks}}

        {{> aside/documents documents}}

        {{> aside/faq faq}}

      </aside>

    </div>

  </div>



{{/with}}
