{{#with news}}

  {{> news/carousel carousel}}

  <main class="container">

    {{> page/breadcrumb this}}

    <div class="news-heading">

        <div class="pull-left">{{> page/heading this}}</div>

        <div class="pull-right">{{> news/subscribe text="Subscribe to news"}}</div>

    </div>

    <div class="filter-wrapper">

      {{> news/filter filter}}

      {{> filter/header }}

      {{> shared/news news}}

      {{> filter/footer limit=6 }}

    </div>

  </main>

{{/with}}
