{{#with search}}

  {{> search/searchbox }}

  <div class="container">

    {{> page/breadcrumb this}}

    {{> page/heading this}}

    <div class="row">


      <main class="main col-sm-12 col-md-9">

        <div class="filter-wrapper">

          {{> filter/header }}

          {{> search/results results}}

          {{> filter/footer limit=4}}

        </div>

      </main>

      <aside class="col-sm-12 col-md-3">

        {{> aside/documents documents}}

      </aside>

    </div>
  </div>


{{/with}}
