<main class="container">

  <h1>H1 Foro Bold 60pt</h1>
  <h2>H2 Foro Bold 40pt</h2>
  <h3>H3 Foro Bold 30pt</h3>
  <h4>H4 Foro Bold 24pt</h4>
  <h5>H5 Open sans bold 20pt</h5>
  <h6>H6 Foro Bold 18pt</h6>

  <p class="leading">Body 1 Open Sans Regular 18pt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
  <p>Body 2 Open Sans Regular 16 pt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
    unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore
    et dolore magnam aliquam quaerat voluptatem.</p>

  <button class="blue">Find out more</button>
  <button class="green">Find out more</button>
  <button class="light-blue">Read more</button>

</main>
