{{#with teams}}

  <main>

    <div class="container">

      {{> page/breadcrumb this}}

      {{> page/heading this}}

      {{> page/anchors anchors}}

      {{> page/overview }}

    </div>

    <div class="teams">

      <div class="gray-bg">

        <div class="container">

          {{#each teams}}

            {{> team/team this }}

          {{/each}}

        </div>

      </div>

    </div>

  </main>

{{/with}}
