// Buttons

@mixin button-background($color, $border, $border-radius, $padding, $box-shadow) {

	border: $border;
	background-color: $color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
	padding: $padding;

	&:hover {
    //background:darken($bg-color, 10%);
    transition: all 0.3s ease;
	}
	&:active {
		//background:darken($bg-color, 20%);
	}
}

// Buttons
@mixin buttons {
	@each $name, $key in $buttons {
		@if($name=='base')
		{
			@include list-properties('button', $key);
		}
		@else {
			&.#{$name} {
				@include list-properties('button', $key);
			}
		}
	}
}

// Heading
@mixin headings {
	@each $name, $key in $headings {
		#{$name} {
			@include list-properties('heading', $key);
		}
	}
}

// Paragraph
@mixin paragraph {

 p{
	 @each $name, $key in $paragraph {
		 @if($name=='base')
		 {
			 @include list-properties('paragraph', $key);
		 }
		 @else {
			 &.#{$name} {
				 @include list-properties('paragraph', $key);
			 }
		 }
	 }
 }
}
