@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}


@mixin icon($fontfamily, $code, $display: inline-block, $transform: translate(0, 0)) {
  display: $display;
  font-family: $fontfamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: $transform; // ensures no half-pixel rendering in firefox
  content: $code;
  font-style: normal;
}

@mixin vector($width, $left, $top, $svg_width, $svg_height) {
  left: calc-unit($left);
  top: calc-unit($top);
  padding-top: percentage($svg_height/$svg_width);
  -ms-transform: scale(#{$width/$svg_default_width},#{$width/$svg_default_width});
  /* IE 9 */
  -webkit-transform: scale(#{$width/$svg_default_width},#{$width/$svg_default_width});
  /* Safari */
  transform: scale(#{$width/$svg_default_width},#{$width/$svg_default_width});
}
