@mixin desktop-extra-large {
  @media (min-width: #{map-get($screen, 'xlg')}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{map-get($screen, 'slg')}) {
    @content;
  }
}

@mixin desktop-medium {
  @media (min-width: #{map-get($screen, 'md')}) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: #{map-get($screen, 'sm')}) {
    @content;
  }
}

@mixin tablet{
  @media (max-width: #{map-get($screen, 'sm')}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{map-get($screen, 'smb')}) {
    @content;
  }
}

@mixin upto-medium {
  @media (max-width: #{map-get($screen, 'md')}) and (min-width: #{map-get($screen, 'smb')}) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}
