<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  {{> meta }}
  {{> favicons }}
  {{> styles }}
  {{> conditional }}
</head>

<body class="{{_page.class}}">

  {{> page/alert }}

  <header>
    {{> header }}
  </header>

  <nav>
    <div class="container">
      {{> navigation}}
    </div>
  </nav>

  {{> navigation/mobile }}

  {{#if test_enabled }}
    {{> qunit/wrapper }}
  {{/if}}

  <div id="content">

    {{{ content }}}

  </div>

  {{> page/backtotop _page }}

  {{> page/overlay }}

  <footer>
    {{> footer }}
  </footer>

  {{> analytics }}
  {{> scripts }}

</body>

</html>
