<div class="content">

  <h2>Table</h2>

  <table class="table" title="Table">
      <thead>
        <tr>
          <th>
            Title 1
          </th>
          <th>
            Title 2
          </th>
          <th>
            Title 3 lorem ipsum dolr sit amet
          </th>
        </tr>
      </thead>


      <tbody>
        <tr>
          <td>Lorem ipsum dolor</td>
          <td>Lorem ipsum dolor sit amet sectetur</td>
          <td>LLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore na it enim ad minim</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor</td>
          <td>Lorem ipsum dolor sit amet sectetur</td>
          <td>LLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore na it enim ad minim</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor</td>
          <td>Lorem ipsum dolor sit amet sectetur</td>
          <td>LLorem ipsum dolor sit ametm</td>
        </tr>
      </tbody>

  </table>

</div>
