<!-- Site Footer -->
{{#with footer}}


  <div class="container row">

      {{> footer/menu menu }}

      <div class="bottom-footer">

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-8">

            {{> footer/links links }}

          </div>

          <div class="col-sm-12 col-md-12 col-lg-4">

            {{> shared/social social }}

          </div>

        </div>

      </div>
  </div>

{{/with}}
