<!-- Site Header -->
{{#with header}}

  {{#if topheader }}
    {{> header/topheader topheader }}
  {{/if}}


  <div id="header">
    <div class="container row">

      <div>

        {{#if logo }}
          {{> header/logo }}
        {{/if}}

        {{#if name }}
          {{> header/name }}
        {{/if}}

        <div class="header-aside pull-right">

          {{> header/search this }}
          {{> shared/social social }}

        </div>

      </div>

    </div>
  </div>

  {{> header/mobilemenu }}

{{/with}}
