<title>{{ app.name }} - {{ _page.title }}</title>

<!-- Site Meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="{{ app.description }}">

<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ app.name }}">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="{{ app.name }}">

<meta name="msapplication-config" content="browserconfig.xml">
<meta property="twitter:image" content="twitter.png">
<meta property="og:image" content="open-graph.png">

{{#each _page.meta }}
    <meta name="{{ @key }}" content="{{ this }}" >
{{/each}}
