<!-- Site Scripts -->
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="js/script.js"></script>

{{#if test_enabled}}
  {{> qunit/scripts }}
{{/if}}
