<div id="mobilemenu-header">

  <div class="container">
    <a href="javascript:void(0)" class="menu" title="mobile menu">
      <span class="sr-only">mobile menu</span>
      <i class="ion-android-menu"></i>
    </a>

    <a href="/" class="logo">
      <img src="../images/transport_logo.png" alt="Transport - Logo" title="Transport - Logo"/>
    </a>

  </div>

  <form class="search-form" action="search.html">
    <input name="q" type="text" placeholder="Search" title="search"/>
    <button type="submit" class="ion-ios-search-strong"></button>
  </form>

</div>
