<!-- Top Header -->
<div id="top-header">
  <div class="container row">
      <ul class="pull-left">

        {{#each this.links}}
          <li>
            <a href="{{this.link}}" title="{{this.text}}" target="_blank">{{this.text}}</a>
          </li>
        {{/each}}

      </ul>

      <ul class="pull-right">
        <li class="font-controls">
          <a id="enlarge" href="javascript:void(0)" title="Enlarge text">A+<span class="sr-only">Enlarge text</span></a>
          <a id="shrink" href="javascript:void(0)" title="Shrink text">A-<span class="sr-only">Shrink text</span></a>
        </li>
        <li>
          <a class="print ion-ios-printer-outline" href="javascript:window.print()" title="Print"><span class="sr-only">Print</span></a>
        </li>
        <li>
          <a href="#content" title="Skip to content">Skip to content</a>
        </li>
      </ul>

    </div>
</div>
