<section class="contact-grid">

    <div class="contact-section">
        <a href="#general" class="active">
            <figure>
                <figcaption>
                    <span class="caption">General enquiries and feedback</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="general" class="active">
            <h2>Stuff and Things</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>
    </div>

    <div class="contact-section">
        <a href="#something">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>
    </div>

    <div class="contact-section">
        <a href="#something1">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>

    <div class="contact-section">

        <a href="#something2">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>

    <div class="contact-section">
        <a href="#something3">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>

    <div class="contact-section">
        <a href="#something4">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>

    <div class="contact-section">
        <a href="#something5">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>

    <div class="contact-section">
        <a href="#something6">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>

</section>


<section class="contact-grid">

    <div class="contact-section">
        <a href="#general99" class="active">
            <figure>
                <figcaption>
                    <span class="caption">General enquiries and feedback</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="general99" class="active">
            <h2>Stuff and Things</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>
    </div>

    <div class="contact-section">
        <a href="#something99">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something99">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>
    </div>

    <div class="contact-section">
        <a href="#something199">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something199">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>

    <div class="contact-section">

        <a href="#something299">
            <figure>
                <figcaption>
                    <span class="caption">Something</span>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-down"></i>
                    <i class="ion-chevron-up"></i>
                </figcaption>
            </figure>
        </a>

        <article id="something299">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquet eros. Aenean fermentum nunc id auctor tempor. Suspendisse sit amet dolor eu est porttitor placerat. Ut egestas mauris quis lorem tempor vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus euismod nisl nisi, eu bibendum leo vulputate vitae. Duis hendrerit enim et varius mollis. Nunc non leo id ex viverra interdum.</p>
            <p>Suspendisse venenatis lectus molestie tempus lobortis. Pellentesque tincidunt ullamcorper elementum. In ut turpis diam. Aenean vulputate lacus vitae eros blandit efficitur. Etiam tempus laoreet hendrerit. Integer iaculis, mi ut scelerisque tempor, dolor tellus blandit ligula, non rhoncus nulla metus non nulla. Morbi fermentum urna vitae tellus viverra, quis rutrum purus luctus. Nullam tempor erat vel mi tempus, eu pulvinar leo sagittis.</p>
        </article>

    </div>


</section>


