<form id="news-filter" class="filter-toolbar" action="news.html">

  <div class="toolbar-wrapper">

    <h2><span>Filter</span> {{heading}} <span class="by">by:</span></h2>
    <ul class="row">
      <li class="filter-category col-xs-6 col-sm-6 col-md-2">
        <label for="filter-category">Category</label>
        <select name="filter-category" id="filter-category">
          <option value="all">All</option>
          {{#each category}}
            <option value="{{this.value}}">{{this.text}}</option>
          {{/each}}
        </select>
      </li>
      <li class="filter-type col-xs-6 col-sm-6 col-md-2">
        <label for="filter-type">Type</label>
        <select name="filter-type" id="filter-type">
          <option value="all">All</option>
          {{#each type}}
            <option value="{{this.value}}">{{this.text}}</option>
          {{/each}}
        </select>
      </li>
      <li class="filter-date col-xs-12 col-sm-12 col-md-3">
        <label for="filter-date-from">Date range (dd/mm/yyyy)</label>
        <div class="input-group date">
          <input name="filter-date-from" id="filter-date-from" type="text"
          placeholder="MM/DD/YY" class="date-picker">
          <span class="input-group-addon"><i class="ion-calendar"></i></span>
        </div>
        <span>to</span>
        <div class="input-group date">
          <input name="filter-date-to" id="filter-date-to"
          placeholder="MM/DD/YY" type="text" class="date-picker" title="Filter Date To">
          <span class="input-group-addon"><i class="ion-calendar"></i></span>
        </div>
        <div class="clearfix"></div>
      </li>
      <li class="filter-keyword col-xs-6 col-sm-6 col-md-3">
        <label for="filter-keyword">Keyword</label>
        <input name="filter-keyword" id="filter-keyword" type="search" value="" placeholder=""/>
      </li>
      <li class="col-xs-6 col-sm-6 col-md-2">
        <label for="filter-button">&nbsp;</label>
        <button id="filter-button" class="button blue" type="submit">Search</button>
      </li>
    </ul>

  </div>

</form>
