<div class="downloads-wrapper list-wrapper">

  <div>

    {{#if heading}}

      <h2>{{heading}}</h2>

    {{/if}}


    <ul class="row">
      {{#each items}}

        <li class="col-xs-12 col-sm-6 col-md-6">

          <a href="{{this.link}}" title="{{this.title}}">

            <table title="{{this.title}}">

              <tr>
                <td>
                  <span class="date">{{this.date}}</span>
                  <span class="title">{{this.title}}</span>
                </td>

                <td class="file">
                  <span class="filetype icon-{{this.type}}">{{this.type}}</span>
                  <span class="size">{{this.size}}</span>
                </td>
              </tr>

            </table>

          </a>

        </li>

      {{/each}}
    </ul>

  </div>

</div>
