article {

  margin-bottom: 30px;

  h2 {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  p {
    @include font-size(18px);
    line-height: (28/18);
    color: #333333;
    margin-bottom: 30px;

    @include mobile {
      @include font-size-mobile(16px);
      line-height: (15/11);
      margin-bottom: 15px;
    }

    &.leading {
      @include font-size(24px);
      line-height: (35/24);
      color: #333333;
    }

  }

  a {
    color: #009ed7;

    &:hover {
      text-decoration: underline;
      color: #009ed7;
    }

    &.black {
      color:#333333;

      &:hover {
        text-decoration: none;
        color:#333333;
      }
    }
  }

  ol {

    margin: 20px;

    @include mobile {
      margin: 0px;
    }

    li {
      @include font-size(18px);
      line-height: (30/18);
      margin-bottom: 20px;
      position: relative;
      list-style-type: decimal;
      margin-left: -20px;
      padding-left: 5px;

      @include mobile {
        padding-left: 0px;
        @include font-size-mobile(16px);
        line-height: (15/11);
      }
    }
  }

  ul {

    margin: 20px;

    @include mobile {
      margin: 0px;
    }

    li {
      @include font-size(18px);
      line-height: (30/18);
      padding-left: 25px;
      margin-bottom: 20px;
      position: relative;

      &:before {
        content: '•';
        position: absolute;
        left: 0px;
      }

      @include mobile {
        padding-left: 16px;
        @include font-size-mobile(16px);
        line-height: (15/11);
      }
    }
  }

  .highlight {

    background: #009ed7;
    padding: 30px;
    margin-bottom: 35px;

    @include mobile {
      padding: 16px;
      margin-bottom: 15px;
    }

    h3 {
      @include font-size(22px);
      line-height:(28/22);
      color: white;
      margin: 0 0 5px;

      @include mobile {
        @include font-size-mobile(16px);
        line-height: (14/12);
      }
    }

    p {
      @include font-size(18px);
      line-height:(28/18);
      color: white;
      margin-bottom: 0px;

      @include mobile {
        @include font-size-mobile(16px);
        line-height: (15/11);
      }
    }
  }
}
