* {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;

	&:focus,
	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
		outline: none;
	}

	&.disabled {
		pointer-events: none;
	}
}

.sr-only {
  @extend %sr-only;
}

.clearfix {
  @extend %clearfix;
}

.visually-hidden {
  @extend %visually-hidden;
}

.full-width {
  position: relative; /* for the child pseudo-elements */
  /* negative offset = section padding */
  margin: 0 -30px;
  /* add back section padding value */
  padding: 0.25rem 30px;

  &:before,&:after {
	  content: "";
	  position: absolute;
	  /* fill vertically */
	  top: 0;
	  bottom: 0;
	  width: 9600px;
	}

	&:before {
		right: 100%;
	}

	&:after {
		left: 100%;
	}
}
