button,
.button {
  display: inline-block;
  text-align: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  border: none;

  @include buttons;
  &:hover,
  &:active,
  &:focus {
    color: white;
  }

  &.view-more {
    @include font-size(16px);
    color: #333333;
    border: solid 1px #333333;
    width: 300px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    display: block;
    border-radius: 3px;
    margin: 5px auto;

    @include desktop-medium {
      @include font-size(18px);
    }

    @include tablet {
      height: 40px;
      width: 200px;
      line-height: 40px;
      @include font-size-tablet(14px);
    }

    @include mobile {
      height: 32.5px;
      width: 160px;
      line-height: 32.5px;
      @include font-size-mobile(16px);
    }

    &:hover {
      text-decoration: underline;
      background-color: #e5e5e5;
    }
  }

  &.link {
    @include font-size(18px);
    color: #333333;
    border: solid 1px #e0e0e0;
    min-width: 210px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    text-align: left;
    float: right;
    border-radius: 0px;

    @include tablet {
      @include font-size-tablet(14px);
      min-width: 200px;
      height: 40px;
      line-height: 40px;
    }

    @include mobile {
      @include font-size-mobile(16px);
      min-width: 150px;
      height: 40px;
      line-height: 40px;
    }

    &:hover {
      text-decoration: underline;
      background: #e5e5e5;
    }

    i {
      color: #009ed7;
      margin-right: 10px;

      @include mobile {
        margin-right: 5px;
      }
    }
  }

  &.blue {
    @include font-size(18px);
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    border-radius: 5px;
    background: #009ed7;

    &:hover {
      text-decoration: underline;
      background: #0195ca;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      height: 40px;
      line-height: 40px;
      @include font-size-mobile(16px);
    }
  }

  &.slide {
    @include font-size(18px);
    display: inline-block;
    min-width: 300px;
    height: 65px;
    padding: 20px 40px;
    line-height: (25/18);
    text-align: center;
    border: solid 1px white;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    color: white;
    vertical-align: middle;

    @include tablet {
      @include font-size-tablet(18px);
      height: 50px;
      line-height: (20/14);
      min-width: 160px;
      padding: 15px 20px;
    }

    @include mobile {
      @include font-size-mobile(16px);
      padding: 10px 15px;
      height: 40px;
    }


    &:hover {
      background: rgba(0,0,0,0.4);
      text-decoration: underline;
    }
  }

  &.back {
    color: #009ed7;
    padding: 0px;
  }

}

.touchevents {
  .button {
    &.link {
      &:hover {
        text-decoration: none;
        background: white;
      }
    }
  }
}
