@include headings;


h2 {
  margin-bottom: 25px;

  @include mobile {
    margin-bottom: 15px;
  }

  @include mobile {
    @include font-size-mobile(21px);
  }
}

h3 {

  @include mobile {
    @include font-size-mobile(19px);
  }
}

h4 {

  @include mobile {
    @include font-size-mobile(16px);
  }
}
