@font-face {
	font-family: "Icons";
	src: url('../fonts/Icons.eot');
	src: url('../fonts/Icons.eot?#iefix') format('eot'),
		url('../fonts/Icons.woff2') format('woff2'),
		url('../fonts/Icons.woff') format('woff'),
		url('../fonts/Icons.ttf') format('truetype'),
		url('../fonts/Icons.svg#Icons') format('svg');
}

.icon:before {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-career-graduate:before {
	content: "\E001";
}

.icon-career-how-to-apply:before {
	content: "\E002";
}

.icon-career-why-join:before {
	content: "\E003";
}

.icon-event:before {
	content: "\E004";
}

.icon-faq:before {
	content: "\E005";
}

.icon-news-article:before {
	content: "\E006";
}

.icon-news-media:before {
	content: "\E007";
}

.icon-news-publication:before {
	content: "\E008";
}
