.modal {
  color: #333333;

  .modal-header {
    border-bottom: none;

    .close {
      opacity: 1;
      @include font-size(34px);
    }

    .modal-title {
      padding: 15px 25px 0;
      @include font-size(28px);
    }
  }

  .modal-content {
    border-radius: 0px;
  }

  .modal-body {
    padding: 5px 40px;
    @include font-size(34px);
    line-height: (32/18);
  }

  .modal-footer {
    border-top: none;
    padding: 0px 40px 20px;

    button {
      &.link {
        color: #009ed7;
        background: none;
        border: none;
        float: none;
        text-align: center;
        min-width: 150px;
      }

      &.link,
      &.blue {
        @include tablet {
          width: 50%;
          display: inline-block;
          float: left;
          line-height: 40px;
          min-width: 0px;
        }
      }


    }
  }
}
