article table,
table.table {
  color: #333333;
  @include font-size(18px);

  @include mobile {
    @include font-size-mobile(16px);
  }

  thead {

    tr {
      background: #e5f5fb;
      border-bottom: solid 1px #009ed7;

      th {
        font-weight: bold;
      }
    }

  }

  tbody {
    tr {
      border-bottom: solid 1px #97def7;
    }
  }

  tr {
    td,th {
      padding: 20px 15px;
      //min-width: 180px;
    }
  }

  &.stacktable {
    &.small-only {
      display: none;

      &:first-of-type {
        display: none;
      }

      @include tablet {
        display: inline-table;
      }

      tbody {
        tr {
          td {
            border: solid 1px #9bd8ee;
            padding: 10px 15px;
            min-width: 150px;

            @include mobile {
              min-width: 90px;
            }

            &.st-key {
              background: #e5f5fb;
              font-weight: bold;
              width: 150px;
              padding: 10px;
              border-right: solid 2px #009ed7;

              @include mobile {
                width: 90px;
              }
            }
          }
        }
      }
    }

    &.large-only {
      display: table;

      @include tablet {
        display: none;
      }
    }
  }
}
