<article>

  <p>
    The page you were looking for can't be found, it may have moved to a new location.<br/>
    To get back on track check the URL for errors, or alternatively try using the navigation or search at the top of the page.
  </p>

  <p>
    To go to the home page of this site, click the link below:<br/>
    <a href="#">Lorem ipsum dolor site</a>

  </p>


</article>
