$font-path: '../fonts/';

// Web Fonts
$web-fonts: (
  Customfont: (
    (
      filename: 'Customfont',
      style: normal,
      weight: 'normal'
    ),
  )
) !default;


// Icon Fonts
$icon-font: (
	family: 'Icons',
	faces: (
		(
			filename: 'Icons',
			style: normal,
			weight: 'normal'
		),
	)
) !default;

// Font Family
$font-family: (
	base: 'Arial'
) !default;

// Font Size
$font-size: (
	base: 13px,
	tablet: 14px,
	mobile: 14px,
) !default;

// Font Weights
$font-weight: (
	thin: 100,
	extralight: 200,
	light: 300,
	normal: 400,
  regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900,
	ultra: 900
);


// Letter Spacing
$letter-spacing: (
	base: normal
) !default;

// Line Height
$line-height: (
	base: 1.125em
) !default;
