<div class="links">
  <ul>
    {{#each this}}
       <li>
         <a href="{{this.link}}" target="_blank">{{this.text}}
           {{#if this.icon}}<span class="{{this.icon}}"></span>{{/if}}
         </a>
       </li>
    {{/each }}
  </ul>
</div>
