<div class="footer-menu">
  <ul class="menu">

    {{#each this}}
      <li class="expanded col-xs-6 col-md-3">

        {{#each this}}
          <div>
            <a href="#" title="Footer Menu Link - {{this.title}}" class="title">{{this.title}}</a>

            {{#if this.links}}
              <ul class="menu">

                {{#each this.links}}

                  <li>
                    <a href="{{this.link}}" title="Footer Menu Link -  {{this.text}}">{{this.text}}</a>
                  </li>

                {{/each}}

              </ul>
            {{/if}}

          </div>
        {{/each}}

      </li>
    {{/each}}

  </ul>
</div>
