<div id="newsletter">

  <div class="row container">

      <h2>Subscribe to our Newsletter<i class="ion-chevron-down"></i></h2>

      <div class="wrapper hide">

        <p>Subscribe to our newsletter to receive regular updates on freight initiatives and projects</p>

        <form id="newsletter-form" action="data/newsletter.json" method="get" class="row">

          <div class="col-xs-12 col-sm-5 col-md-5">
            <label for="newsletter-name">Name:</label>
            <input id="newsletter-name" name="newsletter-name" type="text" title="Newsletter - Name"
            data-msg="Please type your name" data-msg-email="Please type a valid name" required/>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-5">
            <label for="newsletter-email">Email address:</label>
            <input id="newsletter-email" name="newsletter-email" type="email" title="Newsletter - Email"
            data-msg="Please type your email" data-msg-email="Please type a valid email" required/>
          </div>

          <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="newsletter-submit">&nbsp;</label>
            <button id="newsletter-submit" type="submit" class="button blue" title="Newsletter - Subscribe">Subscribe</button>
          </div>

          <p class="error"></p>


          <div class="clearfix"></div>

        </form>

      </div>

  </div>

</div>
