<div class="contacts">

  <h2>{{this.heading}}</h2>

  <ul>

    {{#each this.items}}

      {{#if this.email}}
        <li>
          <a href="mailto:{{this.email}}" title="{{this.email}}">{{this.email}}</a>
        </li>
      {{/if}}

      {{#if this.phone}}
        <li>
          <a href="tel:{{this.phone}}" title="{{this.phone}}">{{this.phone}}</a>
        </li>
      {{/if}}

    {{/each}}

  </ul>

</div>
