<div class="documents">

  <h2>{{this.heading}}</h2>

  <ul>

    {{#each this.items}}
      <li>
        <span class="filetype icon icon-{{this.type}}"></span>

        <div>
          <a href="{{this.link}}" title="{{this.title}}">{{this.title}}</a>
          <span class="info">{{this.type}} {{this.size}}</span>
        </div>
      </li>
    {{/each}}

  </ul>

</div>
