<div class="linkpanel">

  <ul class="row">

    {{#each this}}

      <li class="col-xs-6 col-sm-6 col-md-12 {{this.theme}}">
        <a href="{{this.link}}" title="{{this.title}}">
          <figure>
            <img src="{{this.image}}" alt="{{truncate this.title 0 25}}"/>
            <figcaption>
              <span class="caption">{{this.title}}</span>
              <i class="ion-chevron-right"></i>
            </figcaption>
          </figure>
        </a>
      </li>

    {{/each}}

  </ul>

</div>
