<div class="relatedlinks">

  <h2>{{this.heading}}</h2>

  <ul>

    {{#each this.items}}

      <li>
        <i class="ion-chevron-right"></i>
        <a href="{{this.link}}" title="{{this.text}}">
          <span>{{this.text}}</span>
          {{#if this.external}}<i class="ion-android-open"></i>{{/if}}
        </a>


      </li>

    {{/each}}

  </ul>

</div>
