<section class="featured">

  <div>

    <ul>
      {{#each this}}

        <li class="col-xs-12 col-sm-4 col-md-4">
          <figure>
            <a href="{{this.link}}" title="{{this.title}}" class="image">
              <img src="{{this.image}}" alt="{{truncate this.title 0 45}}" title="{{this.title}}"/>
            </a>
            <figcaption>
              <p class="desc">
                <strong>{{this.title}}</strong><br/>
                {{this.desc}}
              </p>
              <a href="{{this.link}}" target="_self" class="findmore">
                Find out more
                <i class="ion-ios-arrow-right"></i>
              </a>
            </figcaption>

            <div class="clearfix"></div>
          </figure>
        </li>

      {{/each}}
    </ul>

  </div>

</section>
