<section class="news">

  <div>

    {{#if heading}}

      <h2>{{heading}}</h2>

    {{/if}}

    {{#if subscribe}}

      {{> news/subscribe text="Subscribe to news"}}

    {{/if}}

    <ul>
      {{#each items}}

        <li class="col-xs-12 col-sm-6 col-md-6{{#iff @index '>=' 4}} hidden-xs{{/iff}}">
          <a href="{{this.link}}" title="{{this.title}}">
            <div class="wrapper">
              {{#iff this.type '==' 'Articles'}}
                <i class="icon icon-news-article"></i>
              {{/iff}}

              {{#iff this.type '==' 'Media Release'}}
                <i class="icon icon-news-media"></i>
              {{/iff}}

              {{#iff this.type '==' 'Publications and reports'}}
                <i class="icon icon-news-publication"></i>
              {{/iff}}

              <div class="desc">
                <span class="date">{{this.date}}&nbsp;&nbsp;|&nbsp;&nbsp;{{this.type}}</span>
                <span class="caption">{{this.title}}</span>
              </div>

            </div>
          </a>
        </li>

      {{/each}}
    </ul>

    {{#if viewmore}}

    <a class="button view-more" href="news.html">View more news</a>

    {{/if}}

  </div>

</section>
