<div class="quicklinks">

    {{#if this.heading}}
      <h2>{{this.heading}}</h2>
    {{/if}}

    <ul>
      {{#each this.items}}

        <li class="col-xs-12 col-sm-4 col-md-4">
          <a href="{{this.link}}" title="{{this.caption}}">
            <figure>
              <img src="{{this.image}}" alt="{{this.caption}} - Image" title="{{this.caption}} - Image"/>
              <figcaption>
                <span class="caption">{{this.caption}}</span>
                <i class="ion-chevron-right"></i>
              </figcaption>
            </figure>
          </a>
        </li>

      {{/each}}
    </ul>

    {{#if this.backlink}}

      {{> page/backlink this.backlink}}

    {{/if}}

    <div class="clearfix"></div>

</div>
