<div class="alert alert-high">
  <div class="container">
    <p>
      <i class="fa fa-exclamation-triangle"></i>
      <span>Lorem ipsum dolor sit amet, sed consecttuer adipicing, eisumod tempotLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        <a href="#" title="Find out more">Find out more</a>
      </span>
    </p>
    <a href="javascript:void(0)" class="close ion-close" aria-label="close" title="Alert - Close">
      <span class="sr-only">Close</span>
    </a>
  </div>
</div>
