<div class="anchors">

    <span>{{this.heading}}</span>

    <ul>
      {{#each this.items}}
        <li>
          <a href="{{this.link}}">{{this.title}}</a>
        </li>
      {{/each}}
    </ul>

</div>
