<div id="back-to-top" {{#if backlink }}class="has-backlink"{{/if}}>

  {{#if backlink }}
    <a href="{{backlink.link}}" title="{{backlink.text}}" class="back-page">
      <em>
        <i class="ion-android-arrow-dropleft-circle"></i>
        <span>{{backlink.text}}</span>
      </em>
    </a>
  {{/if}}
  <a href="javascript:void(0)" title="Back to Top" class="back-top">
    <i class="up-icon ion-android-arrow-dropup"></i>
    <span>Back to Top</span>
    <i class="circle-icon ion-android-arrow-dropup-circle"></i>
  </a>
</div>
