<div id="banner" style="background-image:url('{{this.image}}')">

  <div class="container row">

    <div class="banner-wrapper">

      <div class="banner-inner">

        <h2>{{this.title}}</h2>

        {{#if this.subtitle}}
          <p>{{this.subtitle}}</p>
        {{/if}}


      </div>

    </div>
  </div>

</div>
