<div class="breadcrumbs">
    <ul>
      {{#each breadcrumb}}
        <li>
           {{> breadcrumb/item this}}
        </li>
      {{/each}}

      {{#if title}}
        <li>
          <span>{{title}}</span>
        </li>
      {{/if}}
    </ul>
</div>
