header {
  position: relative;
  z-index: 10;
  overflow: hidden;

  @include tablet {
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
  }

}

#header {
    height: $header-height;
    max-width: 100%;
    width: 100%;
    background-image: url('../images/header/header-bg.jpg');
    background-size: 100% 100%;
    display: block;

    @include tablet {
      height: $header-height-tablet;
    }

    @include mobile {
      height: $header-height-mobile;
    }

    .row {
      height: $header-height;
      background: url('../images/header/header-twist.png') white no-repeat;
      background-size: auto $header-height;
      background-position: -50px 0;

      @include desktop-medium {
        background-position: -35px 0;
      }

      @include desktop-large {
        background-position: 0px 0;
      }

      @include tablet {
        height: $header-height-tablet;
        background-size: auto $header-height-tablet;
        background-position: 0 0;
      }

      @include mobile {
        height: $header-height-mobile;
        background-size: auto $header-height-mobile;
        background-position: -15px 0;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    a.logo {
      padding: 20px 0;

      @include tablet {
        padding: 15px 0;
      }

      img {
        max-height: 69px;
        max-width: 184px;
        height: 100%;
        display: block;

        @include tablet {
          max-width: 100%;
        }
      }
    }

    a.logo,
    a.name {
      display: inline-block;
      height: $header-height;
      line-height: $header-height;
      float: left;
      color: white;

      @include tablet {
        height: $header-height-tablet;
        line-height: $header-height-tablet;
      }

      @include mobile {
        height: $header-height-mobile;
        line-height: $header-height-mobile;
      }
    }

    h1 {
      display: inline-block;
      float: left;
      margin: 0 0 0 120px;

      @include desktop-medium {
        margin-left: 230px;
      }

      @include tablet {
        margin-left: 150px;
        @include font-size-tablet(25px);
      }

      @include mobile {
        margin-left: 75px;
        @include font-size-mobile(20px);;
      }
    }
}
