#top-header {
    max-width: 100%;
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    height: $top-header-height;

    @include tablet {
      display: none;
    }

    ul {
      padding: 0;
      margin: 0;
      height: $top-header-height;
      margin-right: -15px;

      li {
        display: inline;
        float: left;
      }

      &.pull-right {
        li {
          padding: 0 15px;
        }
      }

      &.pull-left {
        li:after {
          padding: 15px;
          @include font-size(14px);
          content: '|';
        }

        li:last-child:after {
          content: '';
        }
      }
    }

    a {
      color: white;
      line-height: 30px;
      @include font-size(14px);
      height: 30px;
      padding: 0px;
    }

    button {
      @include font-size(18px);
    }

    .font-controls a {
      @include font-size(20px);
      &:first-child {
        margin: 0 10px 0 0;
      }
    }

    .print {
      @include font-size(20px);
      &.ion-ios-printer-outline:before {

      }
    }
}
