aside {

  border-top: solid 1px #dddddd;
  padding-top: 15px;
  margin-top: 20px;

  @include desktop-medium {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
  }

  @include mobile {
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  h2 {
    @include font-size(20px);
    margin: 10px 0;

    @include mobile {
      @include font-size-mobile(16px);
      margin: 10px 0 5px;
    }
  }

  > div {
    margin: 0 0 15px;
    border-bottom: solid 1px #dddddd;
    display: inline-block;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }

    @include mobile {
      margin: 0 0 10px;

    }

    li {
      display: inline-block;
      width: 100%;
      padding: 10px 0;

      @include mobile {
        padding: 2px 0;
      }
    }
  }
}
