main {
	margin-top: 0px;
}

.main-wrapper {

	padding-top: 20px;
	padding-bottom: 20px;

	@include desktop-large {
		padding-top: 60px;
		padding-bottom: 60px;
	}

}

section {
	margin-top: 40px;
	margin-bottom: 55px;

	@include mobile {
		margin-top: 20px;
		margin-bottom: 35px;
	}
}

.container {
  width: $continer-width;
  max-width: 100%;
  margin: auto;
  position: relative;

  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.gray-bg {
  background: #ededed;
}
