html,
body {
	font-family: $default-font;
	font-size: map-get($font-size, 'base');
  overflow-x: hidden;

  @include tablet {
    font-size: map-get($font-size, 'tablet');
  }

  @include mobile {
    font-size: map-get($font-size, 'mobile');
  }

	&.x-small {
		font-size: map-get($font-size, 'x-small');
	}

	&.small {
		font-size: map-get($font-size, 'small');
	}

  &.large {
		font-size: map-get($font-size, 'large');
	}

  &.x-large {
		font-size: map-get($font-size, 'x-large');
	}
}
