<section id="{{this.hash}}" class="team">

  <h2>{{this.name}}</h2>

  <ul>

    {{#each staff}}

      <li>
        <div class="row">
          <div class="image col-xs-12 col-sm-3 col-md-3">
            <img src="{{this.image}}" alt="{{this.name}}">
          </div>

          <div class="content col-xs-12 col-sm-9 col-md-9">
            <h3 class="name">{{this.name}}</h3>
            <h4 class="position">{{this.position}}</h4>
            <div class="desc mobile-collapser">
              {{{this.desc}}}
            </div>
          </div>
        </div>
      </li>

    {{/each}}

  </ul>

</section>
