<div class="search-results">

  <div class="search-source">
    powered by Google Custom Search
  </div>

  <ul>

    {{#each this}}

      <li>
        <a href="{{this.link}}">{{this.title}}</a>
        <span class="link">{{this.link}}</span>
        <p>{{this.date}} - {{{this.desc}}}</p>
      </li>

    {{/each}}

  </ul>

</div>
