<div class="searchbox">

  <div class="container">

    <form class="search-form" action="search.html">

      <input name="q" type="text" placeholder="Search..." title="Search"/>
      <button type="submit" class="button blue">Search</button>

    </form>

  </div>

</div>
