#carousel.carousel {


  .carousel-inner > .item {
    overflow: hidden;
    height: 550px;

    @include tablet {
      height: 400px;
    }

    @include mobile {
      height: 215px;
    }

    .bg-wrapper {
      position: relative;

      width: #{(550 * 2000 / 600)}px;

      @include desktop-extra-large {
        width: 100%;
      }

      @include tablet {
        width: #{(400 * 2000 / 600)}px;
      }

      @include mobile {
        width: #{(215 * 2000 / 600)}px;
      }

      &:before {
        display: block;
        content: "";
        min-width: 100%;
        min-height: 100%;
        padding-top: (600 / 2000) * 100%;
      }

      > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        max-width: none;

        min-height: 550px;

        @include tablet {
          min-height: 400px;
          width: 100%;
        }

        @include mobile {
          min-height: 215px;
        }
      }
    }
  }

  .carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1;
  }

  .carousel-caption {

    padding: 0 20% 0 15px;
    top: 35%;
    text-align: left;
    left: 10%;
    right: 10%;
    width: 80%;
    margin: 0 auto;
    text-shadow: none;


    @include desktop-extra-large {
      width: $continer-width;
      left: 0px;
      right: 0px;
    }

    @include desktop-large {
      top: 15%;
      padding-right: 450px;
    }


    @include tablet {
      padding-right: 50px;
    }

    @include mobile {
      padding-right: 0px;
    }

    h2 {
      @include font-size(30px);
      color: white;

      @include desktop-medium {
        @include font-size(40px);
      }

      @include mobile {
        @include font-size-mobile(20px);
        margin-top: 0px;
      }
    }

    p {
      @include font-size(24px);
      color: white;
      display: none;

      @include desktop-large {
        display: block;
      }

    }

    a.button {
      @include desktop-large {
        min-width: 255px;
      }
    }
  }

  .carousel-bottom {

    position: absolute;
    bottom: -30px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;

    @include tablet {
      display: none;
    }

    .pause {
      color: white;
      display: inline-block;
      bottom: 25px;
      @include font-size(24px);
      width: 18px;
      height: 18px;
      position: relative;
      margin: 7px;
      margin-right: 20px;
    }
  }

  .carousel-indicators {

    display: inline-block;
    position: relative;
    left: 0px;
    margin-left: 0px;
    width: auto;

    li {
      width: 18px;
      height: 18px;
      margin: 5px;
      background: rgba(255,255,255,0.5);
      border: none;

      &.active {
        background: white;
      }
    }
  }

  .carousel-control {

    width: 5%;
    opacity: 1;
    background-image: none;

    @include mobile {
      width: 5px;
    }

    i {
      @include font-size(60px);
      height: 60px;
      margin-top: -30px;

      @include mobile {
        @include font-size-mobile(50px);
        height: 50px;
        margin-top: -25px;
      }

      &.icon-prev {
        margin-left: 10px;

        @include desktop-large {
          margin-left: 25px;
        }

        @include mobile {
          margin-left: 0px;
        }

        &:before {
          content: "\f3d2";
        }


      }

      &.icon-next {
        margin-right: 10px;

        @include desktop-large {
          margin-right: 25px;
        }

        @include mobile {
          margin-right: 0px;
        }

        &:before {
          content: "\f3d3";
        }

      }
    }

  }
}

#carousel.news-carousel {

  .carousel-inner > .item {

    .bg-wrapper {

      @include tablet {
        width: 100%;
      }

      @include mobile {
        width: 100%;
      }

      &:before {
        padding-top: (318 / 564) * 100%;
      }

      img {

        @include mobile {
          height: auto;
          width: 100%;
        }

      }
    }

  }

  .carousel-caption {

    padding-right: 0px;
    top: 20%;

    @include tablet {
      padding: 0 20% 0 0;
    }


    h2 {
      @include font-size(28px);

      @include mobile {
        @include font-size-mobile(20px);
      }
    }

    p {
      @include font-size(18px);
    }

    img.pic,
    div.text {
      width: 50%;
      min-width: 50%;
      display: inline-block;
      float: left;
      padding: 20px;
    }

    img.pic {
      height: auto;

      @include tablet {
        display: none;
      }
    }

    div.text {
      @include tablet {
        width: 100%;
        padding: 0px 10px;
      }
    }

    a.button {
      @include desktop-large {
        min-width: 255px;
        margin-top: 20px;
      }
    }
  }
}
