<section class="article-media">

  <figure>

    {{#if this.image }}
      <img src="{{this.image}}" title="{{this.caption}}" alt="{{this.caption}}"/>
    {{/if}}

    {{#if this.video }}
      <div class="video-wrapper">
        <iframe src="{{this.video}}" allowfullscreen title="{{this.caption}}" class="video"></iframe>
      </div>
    {{/if}}

    <figcaption>
      <i class="ion-android-camera"></i>
      {{this.caption}}
    </figcaption>
  </figure>

</section>
