<div class="article-menu">

  <h2>{{this.category}}</h2>

  <a href="javascript:void(0)" title="select menu" class="menu">Select<i class="ion-chevron-down"></i></a>

  <ul>

    {{#each this.items}}

      <li {{#if this.items}}class="has-submenu"{{/if}}>
        <a href="javascript:void(0)" title="{{this.title}}"
        class="{{#if @last}}last{{/if}}">
          <i class="ion-ios-arrow-right"></i>
          <span>{{this.title}}</span>
        </a>

        {{#if this.items}}

          <ul {{#unless this.active}}class="hide"{{/unless}}>

            {{#each this.items}}

              <li>
                <a href="{{this.link}}" title="{{this.title}}"
                class="{{#if this.active}}active{{/if}}{{#if @last}} last{{/if}}">
                  <i class="ion-ios-arrow-right"></i>
                  <span>{{this.title}}</span>
                </a>
              </li>

            {{/each}}

          </ul>

        {{/if}}
      </li>

    {{/each}}

  </ul>

</div>
