$colors: (
  page: (
    light-blue-color: #02a2db,
    light-blue-color2: #07a1d9,
    light-blue-color3: #e6f8ff,
    light-blue-color4: #e1f3fa,
    dark-blue-color: #173259,
    dark-blue-color2: #002e5d,
    green-color: #6cc24a,
    gray-color: #454545,
    gray-color2: #858585,
    gray-color3: #f2f1f1
  ),
  heading: (
    primary: #333333,
    secondary: #02a2db,
    tertiary: #002e5d
  ),
  paragraph: (
    base: #3a3a3a,
    leading: #173259
  ),
  button: (
    blue-bg: #009ed7,
    green-bg: #6cc24a,
    light-blue-bg: #71c7e9,
    white-color: #FFFFFF,
    yellow-bg: #ffc72c
  ),
  form: (
    label: #333333,
    error: #EC4207,
    border: #e1e1e1,
    hover: #e5f5fb,
    highlight: #E6E6E6
  )
);
