// Fonts
$web-fonts: (
  Gotham: (
    (
      filename: 'Gotham-Medium',
      style: normal,
      weight: 'medium'
    ),
  ),
  Montserrat: (
    (
      filename: 'Montserrat-Regular',
      style: normal,
      weight: 'normal'
    ),
    (
      filename: 'Montserrat-Bold',
      style: normal,
      weight: 'bold'
    ),
  )
);


// Font Size
$font-size: (
	base: 16px,
  tablet: 14px,
  mobile: 12px,
  x-small: 12px,
  small: 14px,
  large: 18px,
  x-large: 20px,
);


// Letter Spacing
$letter-spacing: (
	base: normal
);

$default-font: 'Arial';
