// Headings
$headings: (
  h1: (
    font: 'Arial',
    weight: 'medium',
    size: 40px,
    color: 'primary'
  ),
  h2: (
    font: 'Arial',
    weight: 'medium',
    size: 32px,
    color: 'primary'
  ),
  h3: (
    font: 'Arial',
    weight: 'medium',
    size: 24px,
    color: 'primary'
  ),
  h4: (
    font: 'Arial',
    weight: 'medium',
    size: 20px,
    color: 'primary'
  ),
  h5: (
    font: 'Arial',
    weight: 'bold',
    size: 20px,
    color: 'tertiary'
  ),
  h6: (
    font: 'Arial',
    weight: 'bold',
    size: 18px,
    color: 'primary'
  )
);
