// Paragraph
$paragraph: (
  base: (
    weight: 'normal',
    size: 16px,
    color: 'base'
  ),
  leading: (
    size: 18px,
    color: 'leading',
    line-height: 1.556em,
    margin-bottom: 20px
  )
);
