.bottom-footer {
  border-top: 1px solid white;
  padding: 15px 0;
  @include font-size(13px);

  @include desktop-small {
    padding-top: 45px;
    margin: 0 -30px 0 -30px;
  }

  .links {
    display: inline-block;
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }

  ul {
    float: left;

    @include desktop-small {
      margin: 0 30px;
    }

    @include tablet {
      margin-left: -20px;
      margin-right: -20px;
    }

    @include mobile {
      margin-left: -15px;
      margin-right: -15px;
    }

    li {

      padding: 15px 10px 15px 5px;
      margin: 0;
      float: left;

      @include tablet {
        width: 50%;
        padding: 10px 20px;
        text-align: left;
      }

      @include mobile {
        @include font-size-mobile(12px);
        padding: 10px 15px;
      }

      a {
        display: inline-block;
        padding: 0;
        color: white;

        &:hover {
          text-decoration: underline;
        }
      }



      &:after {
        display: inline-block;
        content: '|';
        padding-left: 10px;
        color: white;

        @include tablet {
          display: none;
        }
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  img {
    width: 84px;
    height: auto;
    float: right;
    display: inline-block;
    margin-top: -10px;

    @include desktop-small {
      margin-right: 30px;
    }
  }
}
