.footer-menu {
  margin-left: -15px;
  margin-right: -15px;

  > ul {

    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 35px 0 50px 0;
    position: relative;
    padding: 0;

    @include mobile {
      margin: 25px 0 15px 0;
    }

    > li {
      vertical-align: top;

      @include tablet {
        &:nth-child(odd) {
          float: left;
        }

        &:nth-child(even) {
          float: right;
        }
      }

      > div {
        margin: 5px 0 30px;

        @include mobile {
          margin-bottom: 0px;
        }

        .menu {

          @include mobile {
            display: none;
          }

        }
      }

      > ul {

        float: left;
        margin: 1em 0 0 0;

        ul {
          display: none;
        }

        li {
          display: block;
          margin: 0;
        }
      }

      a {
        color: white;
        font-weight: normal;
        padding: 10px 0;
        position: relative;
        @include font-size(16px);
        display: block;
        line-height: 1.25em;

        @include mobile {
          padding: 7px 0;
        }

        &:hover {
          text-decoration: underline;
        }

        &.title {
          font-weight: bold;
          @include font-size(18px);


          @include mobile {
            @include font-size-mobile(14px);
          }

          &:after {
            content: ' ';
            background-color: #009ed8;
            width: 90%;
            height: 4px;
            display: block;
            margin-top: 5px;

            @include mobile {
              display: none;
            }
          }
        }
      }


    }
  }
}
