<div class="filter-pagecount col-md-4">
  <span>Items per page:</span>
  <select title="Items per page">
    <option value="12">12</option>
    <option value="24">24</option>
    <option value="36">36</option>
  </select>
</div>
