<div class="pagination-wrapper col-md-12">
  <ul class="pagination">
    <li>
      <a href="#" class="prev">
        <i class="ion-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li><span>Page:</span></li>

    <li class="active"><a href="#">1</a></li>
    {{#iff limit '>=' 2}}<li><a href="#">2</a></li>{{/iff}}
    {{#iff limit '>=' 3}}<li><a href="#">3</a></li>{{/iff}}
    {{#iff limit '>=' 4}}<li><a href="#">4</a></li>{{/iff}}
    {{#iff limit '>=' 5}}<li><a href="#">5</a></li>{{/iff}}
    {{#iff limit '>=' 6}}<li><a href="#">6</a></li>{{/iff}}
    <li class="ellipse"><span>...</span></li>
    <li>
      <a href="#" class="next">
        <i class="ion-chevron-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</div>
