.alert {
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 0;
  border: none;
  display: none;
  z-index: 999;
  position: relative;

  &.alert-danger {
    background: #cb0000;
    color: white;
  }

  .close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #3a3a3a;
    color: white;
    @include font-size(18px);
    opacity: initial;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  p {
    font-family: 'Montserrat';
    @include font-size(22px);
    line-height: (28/22);
    padding: 30px 30px 30px 0;
    color: white;

    @include mobile {
      @include font-size-mobile(12px);
      padding: 15px 15px  15px 0;
    }

    i {
      @include font-size(60px);
      float: left;
      margin: 0 20px 20px 0;
      position: absolute;

      @include tablet {
        @include font-size-tablet(40px);
      }

      @include mobile {
        @include font-size-mobile(30px);
      }
    }

    span {
      display: inline-block;
      padding-left: 80px;

      @include tablet {
        padding-left: 50px;
      }

      @include mobile {
        padding-left: 40px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
