.anchors {

  margin: 10px 0 40px;

  @include mobile {
    margin:10px 0 20px;
  }

  ul {
    display: inline;
  }

  li {
    display: inline;

    &:after {
      content:'|';
      color: #cccccc;
      padding: 0px 10px;

      @include mobile {
        padding: 0px 5px;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  > span {
    display: inline;
    width: auto;
    margin-bottom: 0px;
    @include font-size(18px);
    line-height: (30/18);

    &:after {
      content: ': ';
      padding-right: 5px
    }

    @include mobile {
      @include font-size-mobile(12px);
    }
  }

  a {
    color: #009ed7;
    @include font-size(18px);
    line-height: (30/18);

    &:hover {
      text-decoration: underline;
    }
    @include mobile {
      @include font-size-mobile(12px);
      line-height: (15/12);
      display: inline;

      &:after {
        padding: 0px 5px;
      }
    }
  }
}
