#back-to-top {
  position: fixed;
  z-index: 200;
  right: 0;
  bottom: 25%;
  background: #333333;
  width: 80px;
  height: 80px;
  box-shadow: 0px 1px 5px black;
  display: none;

  @include tablet {
    position: relative;
    display: block !important;
    background-color: white;
    width: 100%;
    box-shadow: none;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
    text-align: center;
    z-index: 0;
  }

  @include mobile {
    height: 54px;
  }

  &.has-backlink {

    a {

      @include tablet {
        width: 50%;
        float: left;
      }


      &.back-page {
        display: none;
        border-right: solid 1px #e1e1e1;

        @include tablet {
          display: block;
        }

        i {
          margin-right: 5px;

          &:before {
            padding-left: 0px;
          }
        }
      }
    }
  }

  a {
    @include font-size(16px);
    height: 80px;
    color: white;
    text-align: center;
    display: inline-block;

    @include tablet {
      color: #009ed7;
      padding-top: 25px;
      height: 80px;
    }

    @include mobile {
      padding-top: 15px;
      height: 54px;
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    span,
    i {

      text-align: center;
      display: inline-block;
      @include font-size(14px);

      @include tablet {
        display: inline-block;
        vertical-align: middle;
        @include font-size-tablet(20px);
      }

      @include mobile {
        @include font-size-mobile(12px);
      }

      &:before {
        @include font-size(40px);

        @include tablet {
          @include font-size-tablet(20px);
        }

        @include mobile {
          @include font-size-mobile(18px);
          padding-left: 15px;
        }
      }
    }

    i {
      &.up-icon {
        padding: 10px 5px 0;
        @include tablet {
          display: none;
        }
      }

      &.circle-icon {
        @include desktop-small {
          display: none;
        }
      }
    }
  }
}
