#banner {

  height: 550px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 25px;


  @include tablet {
    height: 150px;
    margin-bottom: 10px;
  }

  @include mobile {
    height: 70px;
    margin-bottom: 0px;
  }

  h2 {
    color: white;
    @include font-size(40px);
    margin-top: 80px;
    text-shadow: 0px 2px 5px rgba(150, 150, 150, 0.23);

    @include desktop-medium {
      margin-top: 200px;
      width: 45%;
    }

    @include tablet {
      display: none;
    }
  }

  p {
    color: white;
    @include font-size(24px);

    @include desktop-medium {
      width: 55%;
    }
  }
}
