.breadcrumbs {
  color: #767676;
  @include font-size(14px);
  margin: 35px 0 20px;

  @include mobile {
    margin: 20px 0 5px;
  }

  ul {
    @include mobile {
      margin-bottom: 0px;
    }
  }

  li {
    display: inline-block;
    &:after {
      content: '/';
      padding-left: 3px;
      padding-right: 3px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  a {
    color: #0c79cc;

    &:hover {
      text-decoration: underline;
    }
  }
}
