.heading {
  margin-bottom: 25px;

  @include mobile {
    margin-bottom: 5px;
  }

  h1 {
    @include mobile {
      @include font-size-mobile(20px);
      margin-top: 10px;
    }
  }

  p {
    @include font-size(24px);
    color: #333333;
    line-height: 1.33;
    margin: 35px 0;

    @include mobile {
      @include font-size-mobile(12px);
      margin: 15px 0;
    }

  }
}

.news-heading {

  display: inline-block;
  width: 100%;

  .heading {

    h1 {
      margin-top: 0px;

      @include mobile {
        margin-top: 0px;
      }
    }

  }
}
