<nav id="mobilemenu" class="hide">
      <ul>
        {{#each nav }}
          <li {{#if this.active}}class="active"{{/if}}>

            <a href="{{ this.link }}" title="Freight - {{ @key }}"
             {{#if this.subnav }}class="has-submenu"{{/if}}>{{ @key }}
              <i class="ion-chevron-right"></i>
            </a>

            {{#if this.subnav }}
              <ul>
                {{#each this.subnav}}

                  {{#each this}}
                    <li class="group{{#if this.active}} active{{/if}}">
                      <a href="{{this.link}}" title="Freight group - {{this.group}}">{{this.group}}
                        <i class="ion-chevron-right"></i>
                      </a>

                      {{#if this.items}}

                        <ul>
                          {{#each this.items}}
                            <li class="item{{#if this.active}} active{{/if}}">
                              <a href="{{this.link}}" title="Freight page - {{this.text}}">{{this.text}}
                                <i class="ion-chevron-right"></i>
                              </a>
                            </li>
                          {{/each }}
                        </ul>

                      {{/if}}

                    </li>
                  {{/each }}

                {{/each }}
              </ul>
            {{/if}}

          </li>
      	{{/each }}
      </ul>
</nav>

<div class="mobile-menu-overlay hide"></div>
