<li {{#if this.active}}class="active"{{/if}}>

    <a href="{{ link }}" title="Freight - {{ @key }}" {{#if this.subnav }}class="has-submenu"{{/if}}>{{ @key }}
      <i class="ion-chevron-right"></i>
    </a>

    {{#if this.subnav }}
      <div class="submenu">
        {{> navigation/subnav this.subnav}}
      </div>
    {{/if}}
</li>
