<div class="container">

  <div class="row">

    {{#each this}}

      <div class="col col-sm-6 col-md-3">

        {{#each this}}

          <div class="group">

            {{#if this.group}}
              <a href="{{this.link}}" title="Freight group - {{this.group}}"
                {{#if this.active}}class="active"{{/if}}>{{this.group}}</a>
            {{/if}}

            {{#if this.items}}

              <ul>
                {{#each this.items}}
                  <li class="item">
                    <a href="{{this.link}}" title="Freight page - {{this.text}}"
                    {{#if this.active}}class="active"{{/if}}>{{this.text}}
                      <i class="ion-ios-arrow-right"></i></a>
                  </li>
                {{/each }}
              </ul>

            {{/if}}

          </div>

        {{/each}}

      </div>
    {{/each}}

  </div>
</div>
